{% if S_TOPIC_TAGS and not S_PRIVMSGS %}
	<dl class="topic-tags-field">
		<dt><span>{{ lang('TOPIC_TAGS') ~ lang('COLON') }}</span></dt>
		<dd>
			<fieldset class="topic-tag-choices">
				<legend class="sr-only">{{ lang('TOPIC_TAGS') }}</legend>
				{% for tag in TOPIC_TAGS %}
					<input class="topic-tag-checkbox" type="checkbox" name="topic_tags[]" id="topic-tag-{{ tag.TAG_ID }}" value="{{ tag.TAG_ID }}"{% if tag.S_SELECTED %} checked{% endif %}>
					<label class="topic-tag" for="topic-tag-{{ tag.TAG_ID }}" style="background-color: {{ tag.TAG_COLOR }}; color: {{ tag.TAG_TEXT_COLOR }}">{{ tag.TAG_NAME }}</label>
				{% endfor %}
				<input type="hidden" name="topic_tags_present" value="1">
			</fieldset>
		</dd>
	</dl>
{% endif %}
