{% if PREFIXES and S_NEW_MESSAGE and not S_PRIVMSGS %}
	{% INCLUDEJS '@phpbb_topicprefixes/js/topic_prefixes.js' %}
	<dl style="clear: left;">
		<dt><label for="topic_prefix">{{ lang('TOPIC_PREFIX') ~ lang('COLON') }}</label></dt>
		<dd>
			<select name="topic_prefix" id="topic_prefix">
				<option value="">-----</option>
				{% for prefix in PREFIXES %}
					<option value="{{ prefix.prefix_id }}"{% if SELECTED_PREFIX == prefix.prefix_tag %} selected{% endif %}>{{ prefix.prefix_tag }}</option>
				{% endfor %}
			</select>
		</dd>
	</dl>
{% endif %}
